<navbar-login></navbar-login>

<div data-aos="flip-up" class="center">

  <div class="container">

    <div>

      <div class="row justify-content-center">

        <div class="col-xs-12 col-sm-12 col-lg-7 col-md-7 col-xl-7">

          <h4>Recuperar contraseña</h4>

          <p style="text-align: justify">Por favor ingresar la dirección de correo electrónico con la que te registraste para efectuar el proceso de recuperación.</p>


          <form id="form" #form="ngForm" (ngSubmit)="Login(form)">

            <div class="form-group" style="text-align: left">

              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Dirección de correo electrónico" name="account"
                ngModel>

            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">
              <b>
                <i class="fa fa-sign-in"></i> Envíar</b>
            </button>

          </form>
          <br>

          <div style="text-align: center;" class="alert animated" [class.alert-info]="ind_Notication == 1" [class.alert-danger]="ind_Notication == 2"
            role="alert" *ngIf="sta_Notication">
            <strong>{{msg_Notification}}</strong>
          </div>

        </div>
      </div>

      <br>
    </div>
  </div>