<div class="modal-container" >

  <div>
    <div class="modal fade show" style="padding-right: 17px; display: block">

      <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content ">

          <button (click)="ModalHide()" type="button" style="background-color: transparent; border: 1px solid transparent; outline: none">
            <span style="position: fixed; margin-left: 46%; margin-top: -10px">
              <img src="assets/img/png/cancel.png" height="25" width="25">
            </span>
          </button>

          <item [routerLink]="['/group']" [value]="title" [color]="'#02A2F7'" [img]="'https://image.flaticon.com/icons/svg/747/747835.svg'">
          </item>

          <div class="modal-body modal-body-style">

            <a *ngFor="let user of userlist" data-dismiss="modal" aria-label="Close" class="navbar-brand d-flex align-self-start mr-3"
              id="item" style="font-size: 15px" [routerLink]="['/profile/',user._id]">
              <img class="rounded-circle" height="40" style="border: 2px solid #D8D8D8" width="40" [src]="user.avatar">
              <b style="margin-left: 5px; margin-top: 8px;">{{user.displayName}}</b>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>