<navbar-home></navbar-home>
<br>
<div class="container">
  <div class="row">
    <div class="col-12" data-aos="fade-down" data-aos-duration="4000">

      <div class="bg-light py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="row">
                <div class="col-6 col-lg-4">
                  <a class="card mb-4" href="#">
                    <div class="card-body my-3 text-center hvr-bounce-in">
                      <div style="text-align: center">
                        <img src="https://image.flaticon.com/icons/svg/149/149004.svg" class="icon-card">
                        <h6 class="mt-1">
                          <b>Tecnología</b>
                        </h6>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-6 col-lg-4">
                  <a class="card mb-4" href="#">
                    <div class="card-body my-3 text-center hvr-bounce-in">
                      <div style="text-align: center">
                        <img src="https://image.flaticon.com/icons/svg/148/148722.svg" class="icon-card">
                        <h6 class="mt-1">
                          <b>Música</b>
                        </h6>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-6 col-lg-4">
                  <a class="card mb-4" href="#">
                    <div class="card-body my-3 text-center hvr-bounce-in">
                      <div style="text-align: center">
                        <img src="https://image.flaticon.com/icons/svg/1053/1053367.svg" class="icon-card">
                        <h6 class="mt-1">
                          <b>Programación</b>
                        </h6>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-6 col-lg-4">
                  <a class="card mb-4" href="#">
                    <div class="card-body my-3 text-center hvr-bounce-in">
                      <div style="text-align: center">
                        <img src="https://image.flaticon.com/icons/svg/135/135763.svg" class="icon-card">
                        <h6 class="mt-1">
                          <b>Cocina</b>
                        </h6>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-6 col-lg-4">
                  <a class="card mb-4" href="#">
                    <div class="card-body my-3 text-center hvr-bounce-in">
                      <div style="text-align: center">
                        <img src="https://image.flaticon.com/icons/svg/140/140389.svg" class="icon-card">
                        <h6 class="mt-1">
                          <b>Deporte</b>
                        </h6>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-6 col-lg-4">
                  <a class="card mb-4" href="#">
                      <div class="card-body my-3 text-center hvr-bounce-in">
                          <div style="text-align: center">
                            <img src="https://image.flaticon.com/icons/svg/141/141073.svg" class="icon-card">
                            <h6 class="mt-1">
                              <b>Gamers</b>
                            </h6>
                          </div>
                        </div>
                  </a>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row justify-content-center">

          </div>
          <div class="row justify-content-center">

          </div>
          <!-- /.row -->
        </div>
      </div>

    </div>
  </div>
</div>