<nav-root></nav-root>

<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" [(ngModel)]="UserFind" placeholder="Buscar persona por su nombre">
    </div>
  </div>
</div>
<br>

<div class="container" id="divUser">

  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-header">
          Gente
        </div>

        <ul class="list-unstyled" style="margin: 20px">
          <div *ngIf="listUsers?.length == 0" style="color: gray">Aún no hay usuarios registrados</div>

          <div *ngFor="let p of listUsers | userfilter: UserFind">

            <div *ngIf="user._id != p._id" class="card card-user">
              <div class="row" style="margin: 10px">
                <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 col-lg-2 text-center">
                  <img class="d-flex align-self-center mr-3" src="{{p.avatar}}" class="rounded-circle" style="width: 100px; border: 2px solid #D8D8D8">
                </div>
                <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10 col-lg-10">
                  <h5 class="text-xl-left text-lg-left text-md-left text-center">
                    <b>{{p.displayName}}</b>
                  </h5>
                  <div class="text-xl-left text-lg-left text-md-left text-center">
                    <i style="color:#5E63FA" *ngIf="p.providerId == 'facebook.com'" class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i style="color:#F15952" *ngIf="p.providerId == 'google.com'" class="fa fa-google-plus" aria-hidden="true"></i>
                    <i style="color:#6AF0F6" *ngIf="p.providerId == 'twitter.com'" class="fa fa-twitter" aria-hidden="true"></i>
                    <i style="color:#FFBF00" *ngIf="p.providerId == 'email.com'" class="fa fa-envelope" aria-hidden="true"></i>
                    <label class="mt-0 mb-1" style="font-size: 13px">{{p.email}}</label>
                  </div>
                  <div class="text-xl-left text-lg-left text-md-left text-center">
                    <a [routerLink]="['/profile/',p._id]">
                      <b>
                        <i class="fa fa-male" aria-hidden="true"></i> Ver perfil</b>
                    </a>
                    <br>
                    <div *ngFor="let lif of listIdFollowers">
                      <button *ngIf="lif == p._id" type="submit" class="btn btn-danger btn-sm" (click)="getFollower(user._id,p._id)">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i> Dejar de seguir</button>
                    </div>
                    <button id="btn_{{p._id}}" type="submit" class="btn btn-primary btn-sm" (click)="AddFollower(user._id,p._id)">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i> Seguir</button>

                  </div>
                </div>
              </div>
            </div>

            <br>
          </div>

          <div class="row justify-content-center" *ngIf="finished">
            <img src="https://www.pongomilogo.es/skin/frontend/default/em0060/images/ksi/topmegamenu/spinner.1429027063.gif" alt="">
          </div>

        </ul>

      </div>
      <br>


    </div>
  </div>
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

</div>
<br>
<br>