@import '../../../sass/_mixins';

.center {
  @include center;
}

#user {
  color: white
}

input:focus {
  -moz-box-shadow: 0px 0px 10px #0080FF;
  -webkit-box-shadow: 0px 0px 10px #0080FF;
  box-shadow: 0px 0px 10px #0080FF;
  border: 0, 1px solid #0080FF;
}
