<navbar-login></navbar-login>

<swal #deleteSwal title="Registro exitoso" text="Verifica tu cuenta en el link que te enviamos por correo electrónico." type="success"
  [showCancelButton]="false" [showConfirmButton]="false" [focusCancel]="false">
</swal>

<button style="display: none" id="showNotification" (click)="deleteSwal.show()">Epa</button>

<br>
<div data-aos="flip-up" class="container">

  <div class="starter-template">
    <div class="card">
      <h3 class="card-header text-center">
        <b>Registrarse</b>
      </h3>
      <div class="card-block">
        <form style="margin: 15px" id="form" #form="ngForm" (ngSubmit)="Register(form)">

          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Nombre Completo</b>
            </label>
            <input (input)="Change($event,form.value.displayName,'displayName')" [ngClass]="{ 'is-invalid': validForm?.displayName }"
              type="text" [ngClass]="{ 'is-invalid': validForm?.displayName }" class="form-control is-invalid" name="displayName"
              id="displayName" aria-describedby="emailHelp" placeholder="Nombre Completo" ngModel>
            <div class="invalid-feedback">
              Ingresa un nombre completo
            </div>
          </div>

          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Usuario</b>
            </label>
            <input (input)="Change($event,form.value.username,'username')" [ngClass]="{ 'is-invalid': validForm?.username }" type="text"
              class="form-control is-invalid" name="username" id="username" aria-describedby="emailHelp" placeholder="Usuario"
              ngModel>
            <div class="invalid-feedback">
              {{viewdata_username}}
            </div>
          </div>

          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Correo Electrónico</b>
            </label>
            <input (input)="Change($event,form.value.email,'email')" [ngClass]="{ 'is-invalid': validForm?.email }" type="email" class="form-control is-invalid"
              name="email" id="email" aria-describedby="emailHelp" placeholder="Correo Electrónico" ngModel>
            <div class="invalid-feedback">
              {{viewdata_email}}
            </div>
          </div>

          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Contraseña</b>
            </label>
            <input (input)="Change($event,form.value.password,'password')" [ngClass]="{ 'is-invalid': validForm?.password }" type="password"
              class="form-control is-invalid" name="password" id="password" aria-describedby="emailHelp" placeholder="Contraseña"
              ngModel>
            <div class="invalid-feedback">
              {{viewdata_password}}
            </div>
          </div>

          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Confirmar contraseña</b>
            </label>
            <input (input)="Change($event,form.value.verificationPassword,'verificationPassword')" [ngClass]="{ 'is-invalid': validForm?.verificationPassword }"
              type="password" class="form-control is-invalid" name="verificationPassword" id="verificationPassword" aria-describedby="emailHelp"
              placeholder="Confirmar contraseña" ngModel>
            <div class="invalid-feedback">
              {{viewdata_password}}
            </div>
          </div>

          <div style="text-align: left">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
<br>