<navbar-login></navbar-login>

<div data-aos="flip-up" class="center">

  <div class="container">

    <div class="kpx_login">

      <div class="row justify-content-center">

        <div class="col-xs-12 col-sm-12 col-lg-7 col-md-7 col-xl-7">

          <form class="kpx_loginForm" id="form" #form="ngForm" (ngSubmit)="Login(form)">

            <div class="form-group" style="text-align: left">

              <label>
                <b>
                  <fa-icon [icon]="['fas', 'user']" size="sm"></fa-icon> {{label.user_or_email}}</b>
              </label>

              <input (input)="Change($event,form.value.account,'account')" type="text" [ngClass]="{ 'is-invalid': validForm?.account }" class="form-control" aria-describedby="emailHelp" placeholder="{{label.placeholder_user_or_email}}" name="account"
                ngModel>
                <div class="invalid-feedback">
                  Ingresa un usuario o un correo electrónico
                </div>

            </div>

            <div class="form-group" style="text-align: left">

              <label for="exampleInputEmail1">
                <b>
                  <fa-icon [icon]="['fas', 'key']" size="sm"></fa-icon> {{label.password}}</b>
              </label>

              <input (input)="Change($event,form.value.password,'password')" type="password" [ngClass]="{ 'is-invalid': validForm?.password }" class="form-control" aria-describedby="emailHelp" placeholder="{{label.placeholder_password}}" name="password"
                ngModel>
                <div class="invalid-feedback">
                  Ingresa tu contraseña
                </div>

            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              <b>
                <fa-icon [icon]="['fas', 'sign-in-alt']" size="sm"></fa-icon>
                {{label.signin}}</b>
            </button>

          </form>
          <br>

          <div *ngIf="statusLogin != null" style="text-align: center;" class="alert animated" [class.alert-info]="statusLogin?.code == 30"
            [class.alert-danger]="statusLogin?.code == 25" role="alert">
            <strong>{{statusLogin?.message}}</strong>
          </div>

        </div>
      </div>

      <div style="text-align: center;">
        <a style="color: #2285E3" [routerLink]="['/forgetpassword']">
          <b>{{label.forget_password}}</b>
        </a>

        <div style="cursor: pointer; margin-top: 10px">

          <!-- <img (click)="FacebookLogin()" style="margin: 10px" src="https://image.flaticon.com/icons/svg/145/145802.svg" height="50"
            width="50"> -->
          <img (click)="GoogleLogin()" style="margin: 10px" src="https://image.flaticon.com/icons/svg/145/145804.svg" height="50" width="50">
          <!-- <img (click)="TwitterLogin()" style="margin: 10px" src="https://image.flaticon.com/icons/svg/145/145812.svg" height="50"
            width="50">
          <img (click)="GitHubLogin()" style="margin: 10px" src="https://image.flaticon.com/icons/svg/919/919847.svg" height="50" width="50">
        </div> -->


      </div>

      <br>

    </div>

  </div>