<navbar-home></navbar-home>

<!-- <img src="https://image.flaticon.com/icons/svg/291/291202.svg" height="20" width="20"> -->

<div class="container">

  <div class="my-3 p-3 bg-white" style="border: 1px solid #D8D8D8;">
    <h6 class="border-bottom border-gray pb-2 mb-0">
      <b>Notificaciones</b>
    </h6>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="https://image.flaticon.com/icons/svg/309/309601.svg"
        data-holder-rendered="true" style="width: 32px; height: 32px;">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">@kaka te ha comenzado a seguir.</strong>
          <a href="#">Eliminar</a>
        </div>
        <span class="d-block">Hace 2 días.</span>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="https://image.flaticon.com/icons/svg/309/309601.svg"
        data-holder-rendered="true" style="width: 32px; height: 32px;">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">@jmbl1685 te ha comenzado a seguir</strong>
          <a href="#">Eliminar</a>
        </div>
        <span class="d-block">Hace 3 días.</span>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="https://image.flaticon.com/icons/svg/309/309601.svg"
        data-holder-rendered="true" style="width: 32px; height: 32px;">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">@jmbl1685 le ha dado me gusta a una publicación</strong>
          <a href="#">Eliminar</a>
        </div>
        <span class="d-block">Hace 4 días.</span>
      </div>
    </div>
    <small class="d-block text-right mt-3">
      <a href="#">Eliminar todo</a>
    </small>
  </div>

</div>

<!-- <div class="container" id="divUser">

  <div class="py-4 text-center">
    <div>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">
          <b>Notificaciones</b>
        </span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">
            <img src="https://image.flaticon.com/icons/svg/291/291202.svg" height="25" width="25">
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Second product</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">
            <img src="https://image.flaticon.com/icons/svg/291/291202.svg" height="25" width="25">
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">
            <img src="https://image.flaticon.com/icons/svg/291/291202.svg" height="25" width="25">
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">
            <img src="https://image.flaticon.com/icons/svg/291/291202.svg" height="25" width="25">
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">
            <img src="https://image.flaticon.com/icons/svg/291/291202.svg" height="25" width="25">
          </span>
        </li>

      </ul>
    </div>

  </div>
</div> -->