<navbar-home></navbar-home>

<div class="container" id="divUser">

  <div data-aos="zoom-in" class="py-4 text-center">
    <img class="d-block mx-auto mb-4" src="https://image.flaticon.com/icons/svg/559/559736.svg" alt="" width="72" height="72">
    <h4>
      <b>Grupos</b>
    </h4>

    <p class="lead">En esta sección podrás encontrar toda clase de grupos en los cuales puedas compartir tus conocimientos, conocer nuevas
      personas de tus tipo, charlas, entre otras. ¡Diviertete!</p>
    <button [routerLink]="['/group/type']" class="btn btn-danger btn-sm">
      <b>
        <fa-icon [icon]="['fas', 'users']" size="lg"></fa-icon> Crear nuevo grupo
      </b>
    </button>
  </div>

  <div class="row">

    <div class="col-sm-12">

      <ul class="list-unstyled" style="margin: 10px">


        <input type="text" class="form-control" [(ngModel)]="UserFind" placeholder="Buscar grupo por su nombre">

        <!-- <div style="color: gray">
          <br><b>Aún no hay grupos registrados.</b>
        </div> -->

        <div><br>

          <div *ngFor="let group of groupList" >
           
              <div  class="card card-user">
                  <div class="row" style="margin: 10px">
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-lg-2 text-center">
                      <img class="rounded-circle" style="width: 100px; border: 2px solid #D8D8D8" [src]="group.avatar">
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-lg-8">
                      <h5 class="text-xl-left text-lg-left text-md-center text-center">
                        <b>{{group.name}}</b>
                      </h5>
                      <div class="text-xl-left text-lg-left text-md-center text-center">
                        <label class="mt-0 mb-1" style="font-size: 13px">{{group.description}}</label>
                      </div>
                      <div class="text-xl-left text-lg-left text-md-center text-center">
                        <a [routerLink]="['/group/profile']">
                          <b>
                            <i aria-hidden="true" class="fa fa-male"></i> Ver perfil</b>
                        </a>
                        <br>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-lg-2 text-center ">
                      <button class="btn btn-sm btn-primary" style="width: 145px" type="submit" id="5b61e3dd8b787c245c9b4c63">
                        <b>
                          <fa-icon [icon]="['fas', 'share-square']" size="lg"></fa-icon> Enviar solicitud </b>
                      </button>
                    </div>
                  </div>
                </div>

            <br>
          </div>

          <br>
        </div>

        <div class="row justify-content-center" *ngIf="finished">
          <img src="assets/img/loader.gif" height="35" width="35">
        </div>

      </ul>

      <br>


    </div>
  </div>

</div>
<br>
<br>