<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">

<!-- Barra de navegacion cuando el usuario no está logeado -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">

  <button style="border: none; outline: none; margin-left: -50px; margin-top: 12px" class="navbar-toggler navbar-toggler-right"
    type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa fa-bars fa-lg" aria-hidden="true" title="Toggle navigation"></i>
  </button>

  <a class="navbar-brand d-flex align-self-start mr-3" [routerLink]="['/home']" id="item" style="font-size: 25px; margin-top: 3px">
    <img class="d-flex align-self-start mr-3" src="https://image.flaticon.com/icons/svg/456/456129.svg" style="width: 35px;">
    <b style="margin-left: -10px; font-family: 'Pacifico', cursive;">SocialFriends </b>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" style="margin-top: 4px">
      <li class="nav-item">
        <a class="navbar-brand d-flex align-self-start mr-3" id="item" style="font-size: 15px" [routerLink]="['/']">
          <img class="d-flex align-self-start mr-3" src="https://image.flaticon.com/icons/svg/448/448505.svg" style="width: 22px;">
          <b style="margin-left: -10px">Entrar</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand d-flex align-self-start mr-3" id="item" style="font-size: 15px" [routerLink]="['/register']">
          <img class="d-flex align-self-start mr-3" src="https://www.flaticon.es/premium-icon/icons/svg/436/436305.svg" style="width: 22px;">
          <b style="margin-left: -10px">Registro</b>
        </a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">

  <div class="starter-template">
    <div class="card">
      <h3 class="card-header">
        <b>Registrarse</b>
      </h3>
      <div class="card-block">
        <form id="form" #form="ngForm" (ngSubmit)="Register(form)">
          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Nombre Completo</b>
            </label>
            <input type="text" class="form-control" name="displayName" id="displayName" aria-describedby="emailHelp" placeholder="Nombre Completo" ngModel>
          </div>
          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Usuario</b>
            </label>
            <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Usuario"
              ngModel>
          </div>
          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Correo Electrónico</b>
            </label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Correo Electrónico"
              ngModel>
          </div>
          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Confirmar Correo Electrónico</b>
            </label>
            <input type="email" class="form-control" name="Verificationemail" id="Verificationemail" aria-describedby="emailHelp"
              placeholder="Confirmar Correo Electrónico" ngModel>
          </div>
          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Contraseña</b>
            </label>
            <input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelp" placeholder="Contraseña" ngModel>
          </div>
          <div class="form-group" style="text-align: left">
            <label for="exampleInputEmail1">
              <b>Confirmar contraseña</b>
            </label>
            <input type="password" class="form-control" name="Verificationpassword" id="Verificationpassword" aria-describedby="emailHelp"
              placeholder="Confirmar contraseña" ngModel>
          </div>
          <div style="text-align: left">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>